.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *+height:1%
}

.inviting {
    background-size: 100%
}

.inviting-box {
    border: 1px solid #999;
    min-height: 50px;
    padding: 40px 0 30px;
    background: #fff;
    max-width: 980px;
    margin: 10px auto 10px
}

.inviting-form {
    display: block;
    width: 55%;
    margin: 0 auto
}

    .inviting-form label {
        margin-bottom: 2rem;
        width: 100%
    }

    .inviting-form strong {
        width: 25%;
        line-height: 48px;
    }

    .inviting-form input[type=button] {
        background: #333;
        color: #fff;
        width: 20%;
        height: 40px;
        line-height: 40px;
        font-size: .8rem;
        border: 0
    }

    .inviting-form input[type=text] {
        background: #fff;
        width: 45%;
        height: 40px;
        line-height: 40px;
        border: 1px solid #dcdcdc;
        padding: 0 5px;
        font-size: .9rem;
        margin-right: 10px
    }

.inviting-how-to {
    width: 70%;
    margin: 0 auto 50px;
    padding-bottom: 200px
}

    .inviting-how-to h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 50px
    }

        .inviting-how-to h1 span {
            color: #0057ff
        }

    .inviting-how-to p {
        width: 94%;
        margin: 0 auto 20px
    }

        .inviting-how-to p a {
            color: #0057ff
        }

        .inviting-how-to p span {
            color: #0057ff
        }

.inviting-dl-how-to {
    width: 100%;
    padding: 0;
    margin-bottom: 100px
}

    .inviting-dl-how-to dl {
        width: 33%;
        display: inline-block;
        overflow: hidden;
        float: left
    }

    .inviting-dl-how-to dd {
        padding: 0 20px;
        font-size: 1.2rem
    }

        .inviting-dl-how-to dd a {
            color: #0057ff
        }

    .inviting-dl-how-to dt {
        text-align: center;
        margin-bottom: 20px
    }

.inviting-table-list {
    width: 100%;
    font-size: .9rem
}

    .inviting-table-list td {
        border-bottom: 1px solid #e8e8e8;
        padding: 20px 15px
    }

        .inviting-table-list td p {
            margin-bottom: 0
        }

            .inviting-table-list td p span {
                color: #999
            }

        .inviting-table-list td strong {
            padding-right: 10px
        }

    .inviting-table-list .tr {
        text-align: right
    }

    .inviting-table-list .tl {
        width: 5%
    }

    .inviting-table-list .pay-padding {
        color: #999
    }

    .inviting-table-list .pay-success {
        color: #111
    }

    .inviting-table-list .pay-link a {
        color: #0057ff
    }

.inviting-contact {
    padding-top: 100px;
    text-align: center
}

.invate-banner {
}

.banner-wrap {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    color: #f0e68c
}

    .banner-wrap h3 {
        margin-bottom: 30px
    }

    .banner-wrap p {
        width: 72%;
        margin: 0 auto
    }

        .banner-wrap p a {
            color: #fff;
            text-decoration: underline
        }

.banner-mydapp {
}

.mydapp-empty {
    text-align: center;
    color: #000;
    font-size: 1.6rem;
    margin-bottom: 300px
}

    .mydapp-empty a {
        color: #0057ff
    }

    .mydapp-empty p {
        color: #000
    }

.setting {
}

    .setting form {
        width: 45%;
        margin: 0 auto
    }

    .setting h2 {
        margin-bottom: 2rem;
        margin-top: 3rem;
        font-size: 2rem;
        line-height: 1.6
    }

        .setting h2 span {
            color: #0057ff
        }

    .setting a {
        color: #0057ff;
        padding: 0 5px
    }

    .setting .form-group {
        margin-bottom: 2rem
    }

        .setting .form-group p {
            font-size: 1rem
        }

.email-verify {
}

    .email-verify .left {
        width: 65%;
        float: left;
        height: 42px
    }

    .email-verify .right {
        width: 35%;
        float: right;
        height: 42px;
        color: #fff;
        border: 0
    }

.highcolor {
    color: #0057ff;
    font-weight: 700
}

.btn-high {
    background: #333
}

.btn-disabled {
    background: #999
}

.submit-dapp {
    border: 1px solid #fff;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 420px;
    display: block;
    margin: 50px auto 20px
}

.mydapp-index {
    width: 80%;
    margin: 0 auto 50px
}

    .mydapp-index h2 {
        margin-left: 15px;
        margin-top: 30px
    }

        .mydapp-index h2 a:hover {
            color: #0057ff
        }

.mydapp-index-desc {
    text-align: center;
    color: #333
}

    .mydapp-index-desc a {
        color: #0057ff
    }

.loading-icon {
    background: url(../../images/loading-icon.gif) no-repeat center center;
    height: 200px;
    width: 200px;
    margin: -15px auto 0
}

.mydapp-icon {
    width: 60px;
    height: 50px;
    display: block
}

.mydapp-icon-1 {
    background: url(../../../assets/images/mydapp/mydapp-icon-1.png) no-repeat center center
}

.mydapp-icon-2 {
    background: url(../../../assets/images/mydapp/mydapp-icon-2.png) no-repeat center center
}

.mydapp-icon-3 {
    background: url(../../../assets/images/mydapp/mydapp-icon-3.png) no-repeat center center
}

.mydapp-icon-4 {
    background: url(../../../assets/images/mydapp/mydapp-icon-4.png) no-repeat center center
}

    .mydapp-icon-4 em {
        font-style: normal;
        width: 60px;
        text-align: center;
        display: block;
        position: absolute;
        margin-top: 19px;
        position: absolute;
        margin-left: 1px;
        font-weight: 700
    }

.delete-file, .delete-image {
    background: url(../../../assets/images/mydapp/delete-file.png) no-repeat center center;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    margin-top: -110px;
    margin-left: 89px
}

.file-list {
    padding: 0;
    margin: 0;
    list-style: none
}

    .file-list li {
        display: block;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border: 1px solid #0057ff;
        float: left;
        margin-right: 15px;
        background-size: 100% 100%
    }

        .file-list li a {
            line-height: 100px;
            text-align: center;
            display: block
        }

        .file-list li p {
            font-size: .8rem;
            display: block;
            width: 100px;
            height: 100px;
            background: #efefef;
            padding: 2px
        }

    .file-list .preview {
        width: inherit;
        height: inherit
    }

    .file-list .upload-btn-input {
        width: 100px;
        height: 100px;
        overflow: hidden;
        display: block;
        border: 1px solid red;
        opacity: 0;
        position: absolute;
        z-index: 999
    }

    .file-list .upload-add-icon {
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 100px
    }

.upload-loading {
    background: url(../../../assets/images/loading-icon.gif) no-repeat center center;
    text-indent: 9999px
}

@media screen and (max-width:500px) {
    .inviting {
        background: #3f5eef
    }

    .inviting-box {
        margin: 0 auto
    }

    .inviting-form strong {
        width: 100%
    }

    .inviting-form input[type=text] {
        width: 100%;
        margin-bottom: 10px
    }

    .inviting-form input[type=button] {
        width: 30%
    }

    .inviting-how-to {
        width: 98%
    }

    .inviting-dl-how-to dl {
        width: 100%;
        margin-bottom: 30px
    }

    .setting form {
        width: 100%;
        margin: 0 auto
    }

    .setting h2 {
        margin-top: 1rem
    }

    #get-verify-code {
        font-size: .6rem
    }

    .banner-wrap {
        padding-top: 0
    }

    .invate-banner {
        background: #3f5eef
    }

    .banner-wrap p {
        width: 100%
    }

    .submit-dapp {
        width: 100%;
        margin-top: 50px
    }

    .mydapp-index {
        width: 100%
    }

    .mydapp-empty {
        margin-bottom: 150px
    }

    .banner-mydapp {
        margin-top: 100px
    }
}